.nav-main{
    display: flex;
    height: 7vh;
    /* justify-content: space-around; */
}
.logo{
    height: 80%;
    width: 30%;
    margin-left: 10%;
    margin-right:10%;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    /* padding-left: 8%;
    padding-right: 8%;
    padding-top: 0.25%;
    padding-bottom: 0.25%; */

    /* width: 50%;
    padding-left: 8%;
    padding-right: 8%; */
    /* margin: 20%;
     */
    /* margin-left: 15%;
    margin-right: 15%; */
}
.logo img{
    display: flex;
    /* height: 100%; */
    height: 100%;
    /* width: 30%; */
    
}
.nav-button{
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    font-weight: 500;
    font-size: 1em;
    /* padding-left: 15%;
    padding-right: 15%;
    padding-top: 0.5%;
    padding-bottom: 0.5%; */
    /* color:darkgreen; */
    /* justify-content: space-between; */

}
.nav-button ul {
    display: flex;
    padding: 0;
    margin: 0;
}

/* List items */
.nav-button li {
    list-style-type: none; /* Remove list bullets */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

/* Link styling */
.nav-button a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    padding: 0.5em 1em; /* Add padding */
}