.main-part-1{
    display: flex;
    height: 40vh;
    background-color: #495e57;
    color: aliceblue;

}

.part-1-content{
    /* width: 50%; */
    /* padding-left: 15%;
    padding-right: 15%; */

    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    /* align-items:flex-start; */
    /* justify-content:space-around; */
       
}

.part-1-content-heading{
    font-size: 2.7em;
    font-weight:bolder;
    color: #F4CE14; 
    margin-bottom: 2%;
}

.part-1-content-loc{
    font-size: 1.5em;
    margin-bottom: 2%;
}

.part-1-content-description{
    font-size: 1.2em;
    /* font-weight: 'normal'; */
    margin-bottom: 3%;
}

/* .part-1-content-button{
    
} */

.part-1-content-button button{
    font-size: 1.3em;
    background-color: #F4CE14;
    color: #495e57;
    border: none;
    border-radius: 2em;
    cursor: pointer; 
    outline: none;
    display: inline-block;
    line-height: 1.2;   
    padding: 1% 2%;
  
}

.part-1-img{
    display: flex;
    width: 50%;
    align-items: center;
    /* justify-content: center ; */
    /* align-items:self-start; */

}
.part-1-img img{
    height: 90%;
    width: 40%;
    border-radius: 5%;
    /* margin-left: 25%; */
    margin-right: 25%;
}

